body {
    text-align: center;
}

.BodyWrapper {
    text-align: left;
    width: 980px;
}

.edit-form {
    width: 377px;
}

.SearchForm #form-buttons-search {
    position: absolute;
    left: 50%;
    margin-left: 409px;
    top: 25px;
}

.SearchForm #form-widgets-text {
    position: absolute;
    top: 48px;
    left: 50%;
    margin-left: 104px;
    border:1px solid #87A4C2;
    padding: 0.4em;
    height: 29px;
}

.SearchInfo {
    position: absolute;
    left: 50%;
    margin-left: 104px;
    top: 80px;
}

.ContextInformation {
    margin-right: 1.5em;
}

.SiteContent {
    width: 52em;
}

#advanced-search-form {
    width: 100%;
}

#advanced-search-form #form-widgets-text {
    height: 29px;
}

#advanced-search-form .buttonsWrapper #form-buttons-search {
    margin-top: 0.9em;
}

#catalogue-form {
    width: 100%;
}

#loginform {
    width: 100%;
}

.Listing td, .listing th {
    font-size: 0.9em;
}

#publication-upload-form {
    width: 100%;
}
