.Menu {
   background: url("../images/bg_primary-nav.jpg") repeat-x 0 100%;
   border-top: 1px solid #bfced9;
   border-bottom: 1px solid #bfced9;
   height: 2.20em;
   margin: -1px 10px 0 10px;
   padding: 0;
   font-size: 90%;
}

.Menu li {
   display: block;
   float: left;
   position: relative;
}

.Menu a,
.Menu a:link {
   text-decoration: none;
   font-weight: bold;
   border-left: 1px solid #FFF;
   border-right: 1px solid #BFCED9;
   float: left;
   display: block;
   padding: 0.50em 0.94em 0.50em;
}

.Menu li.selected a:hover,
.Menu li a:hover {
   background: url("../images/bg_primary-nav-hover.gif") repeat-x bottom;
   color: white;
}
.Menu li.selected a {
   color: #CC0033;
   background: url("../images/ico_primary-nav-selected.gif") no-repeat 50% 0;
}

.ContentActions {
   padding: 0 0.94em;
}

.Administration.Menu {
   background: none;
   border: 0;
   margin: 0;
   margin-right: 2em;
   float: right;
   height: 2em
}
.Administration.Menu li a {
   border: 0;
   font-size: small;
   font-weight: normal;
   padding-left: 0.5em;
   padding-right: 0.5em;
}
/* breadcrumbs */
.Breadcrumbs.Menu {
   background: url("../images/bg_crumbs.png") repeat-x top left;
   font-size: 75%;
   border-bottom: 0;
   padding-left: 0.9em;
   height: 2.5em;
   padding-top: 0.1em;
}
.Breadcrumbs.Menu .Breadcrumb a:hover,
.Breadcrumbs.Menu .Breadcrumb a {
   color: #888;
   background: transparent;
   border: 0;
   padding-right: 0.5em;
   padding-left: 0;
}
.Breadcrumbs.Menu .Breadcrumb.Start a {
   font-weight: normal;
}

/* footer */
.FooterMenu,
.ExternalLinks {
   margin-top: 0.31em;
   padding-left: 0;
}
.FooterMenu {
   float:right;
}
.FooterMenu li {
  display: inline;
}
.FooterMenu li a {
  text-decoration: none;
}

