<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC Connection-->
		<property name="myeclipse.connection.profile">
			MySQL_JDBC
		</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/opengov_data?useUnicode=true
		</property>
		
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		<property name="hibernate.query.factory_class">
 			org.hibernate.hql.ast.ASTQueryTranslatorFactory
 		</property>

		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">30000</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<property name="show_sql">false</property>
		
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/Archivist.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/Agency.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/AgencyPublication.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/Agencies.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/BosList.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/FullAgencyList.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/Member.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/Publication.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/PublisherPublication.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/Keyword.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/KeywordPublication.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/TempList.hbm.xml"/>
		<mapping resource="au/gov/nsw/records/digitalarchive/ORM/UploadedFile.hbm.xml"/>
				
	</session-factory>

</hibernate-configuration>