@media print {
  .VisualPageEnd,
  .Header,
  body {
     background: transparent;
  }

  #advanced-search-form #form-buttons-search,
  .Button,
  .SiteContent .button-field,
  .WideSiteContent .button-field {
     background: transparent;
  }

  .DocumentActions,
  .SearchForm,
  .FooterMenu,
  .Menu {
     display: none;
  }
  .BodyWrapper {
     width: auto;
  }
}
